/* Calendar personalization */

#calendar--main-container{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

table caption{
    font-weight: bold;
    padding: 5px;
}

table:nth-child(1) caption{
    background-color: #d6abb1;
    color: white;
}

table:nth-child(2) caption{
    background-color: darkred;
    color: white;
}

table:nth-child(3) caption{
    background-color: greenyellow;
    color: black;
}

table:nth-child(4) caption{
    background-color: #555;
    color: white;
}

table:nth-child(5) caption{
    background-color: purple;
    color: white;
}

table:nth-child(6) caption{
    background-color: orangered;
    color: white;
}

table{
    border: 1px solid black;
}

table thead{
    text-align: center;
    padding: 5px;
    border: 2px solid black;
}

table td{
    text-align: center;
    border: 1px solid black;
}

.first-day{
    background-color: rgba(14, 240, 14, 0.5);
}

span{
    font-size: 5px;
    display: block;
    font-weight: bold;
    color: #333;
}